<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.core.customer.read.CustomerExtendsReadMapper" >
    <resultMap id="BaseResultMap" type="com.pzj.core.customer.profile.CustomerExtendsEntity" >
        <id column="customer_id" property="customerId" jdbcType="BIGINT" />
        <id column="supplier_id" property="supplierId" jdbcType="BIGINT" />
        <result column="referee_id" property="refereeId" jdbcType="BIGINT" />
        <result column="business_id" property="businessId" jdbcType="BIGINT" />
    </resultMap>

    <!-- 所有字段 -->
    <sql id="base_columns">
        customer_id,
        supplier_id,
        referee_id,
        business_id
    </sql>

    <!-- 根据用户id查询用户扩展信息-->
    <select id="queryCustomerExtendsByCustomerId" resultMap="BaseResultMap">
      SELECT <include refid="base_columns" />
        FROM customer_extends
        WHERE customer_id = #{customerId,jdbcType=BIGINT}
        and supplier_id =  #{supplierId,jdbcType=BIGINT}
    </select>
</mapper>