<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-autowire="byName" default-lazy-init="true">

    <dubbo:registry address="zookeeper://10.0.2.132:2181" />

    <dubbo:reference id="newChannelService" interface="com.pzj.core.customer.channel.ChannelService" version="1.3"
                     timeout="3000"/>
    <dubbo:reference id="salesmanService" interface="com.pzj.core.customer.salesman.SalesmanService" version="1.3"
                     timeout="3000"/>
    <dubbo:reference id="prfileService" interface="com.pzj.core.customer.profile.ProfileService" version="1.3"
                     timeout="3000"/>
    <dubbo:reference id="resellerService" interface="com.pzj.core.customer.profile.DistributorService" version="1.3"
                     timeout="3000"/>
    <dubbo:reference id="newUserService" interface="com.pzj.core.customer.profile.DistributorService" version="1.3"
                     check="false"/>
                     
    <dubbo:reference interface="com.pzj.core.customer.profile.CustomerService" id="customerService" version="1.3"
                   timeout="30000" check="false"/>                
</beans>