<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.core.customer.write.ChannelCustomerWriteMapper">
    <sql id="Base_Column_List">
        id, obj_id, rel_id, rel_type, s_id, status, create_by, create_date, update_by, update_date
    </sql>

    <resultMap id="BaseResultMap" type="com.pzj.core.customer.channel.ChannelCustomerEntity">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="s_id" jdbcType="BIGINT" property="masterId" />
        <result column="obj_id" jdbcType="BIGINT" property="channelId" />
        <result column="rel_id" jdbcType="BIGINT" property="customerId" />
        <result column="rel_type" jdbcType="VARCHAR" property="type" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_by" jdbcType="BIGINT" property="updateBy" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    </resultMap>

    <select id="selectByChannelId">
        select <include refid="Base_Column_List"/> from sys_channel
        WHERE obj_id = #{channelId, jdbcType=BIGINT}
    </select>

    <select id="selectByCustomerId">
        select <include refid="Base_Column_List"/> from sys_channel
        WHERE rel_id = #{customerId, jdbcType=BIGINT}
    </select>

    <select id="selectByChannelIds">
        select <include refid="Base_Column_List"/> from sys_channel
        WHERE obj_id in
        <foreach collection="list" item="channelId" open="(" separator="," close=")">
            #{channelId, jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectByCustomerIds">
        select <include refid="Base_Column_List"/> from sys_channel
        WHERE rel_id in
        <foreach collection="list" item="customerId" open="(" separator="," close=")">
            #{customerId, jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectByChannelIdAndCustomerId">
        select <include refid="Base_Column_List"/> from sys_channel
        WHERE (obj_id, rel_id) in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.channelId, jdbcType=BIGINT}, #{item.customerId, jdbcType=BIGINT})
        </foreach>
    </select>





</mapper>