<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.core.customer.write.CustomerExtendsWriteMapper" >
    <resultMap id="BaseResultMap" type="com.pzj.core.customer.entitys.CustomerExtendsEntity" >
        <id column="customer_id" property="customerId" jdbcType="BIGINT" />
        <id column="supplier_id" property="supplierId" jdbcType="BIGINT" />
        <result column="referee_id" property="refereeId" jdbcType="BIGINT" />
        <result column="business_id" property="businessId" jdbcType="BIGINT" />
    </resultMap>

    <!-- 新增-->
    <insert id="insertCustomerExtends" parameterType="com.pzj.core.customer.entitys.CustomerExtendsEntity">
        INSERT INTO customer_extends(
        customer_id,
        supplier_id,
        referee_id,
        business_id
        )VALUES(
        #{customerExtends.customerId,jdbcType=BIGINT},
        #{customerExtends.supplierId,jdbcType=BIGINT},
        #{customerExtends.refereeId,jdbcType=BIGINT},
        #{customerExtends.businessId,jdbcType=BIGINT}
        );
    </insert>

    <!--根据用户id修改扩展信息 -->
    <update id="updateCustomerExtends" parameterType="com.pzj.core.customer.entitys.CustomerExtendsEntity">
        UPDATE  customer_extends
        <set>
            <if test="customerExtends.refereeId != null">
                referee_id =  #{customerExtends.refereeId,jdbcType=BIGINT},
            </if>
            <if test="customerExtends.businessId != null">
                business_id =  #{customerExtends.businessId,jdbcType=BIGINT},
            </if>
        </set>
        WHERE customer_id =  #{customerExtends.customerId,jdbcType=BIGINT}
        and supplier_id =  #{customerExtends.supplierId,jdbcType=BIGINT}
    </update>

</mapper>